/node_modules
/public/hot
/public/storage
/storage/*.key
/database
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/sftp.json
bootstrap/cache/services.php
config/services.php
